<h1>Lista de Pacientes</h1>

<div>
    <h3>Hombres</h3>
    <ol>
        {{#each usuarios.[0]}}
        <li>{{name}} - {{apellido}} - {{id}} - {{fecha}} - {{genero}}</li>
        {{/each}}
    </ol>
</div>


<div>
    <h3>Mujeres</h3>
    <ol>
        {{#each usuarios.[1]}}
        <li>{{name}} - {{apellido}} - {{id}} - {{fecha}} - {{genero}}</li>
        {{/each}}
    </ol>

</div>